In [17]:
import pandas as pd

def restructure(df, from_year, to_year):
    '''
    Function to change the local authority structure from a given start point to a new year's structure. Will replace old
    ons code and ecode to new codes, and appends columns with new LA name and LA class
    
    df: dataframe to be restructured
    from_year: integer representing the financial year of the starting LA structure. Note financial year 2022-23 would be 2022. 
    Must be smaller than to_year.
    to_year: integer representing the financial year of the desired LA structure. Must be larger than from_year.
    
    returns: dataframe post restructuring
    
    requisites: import pandas as pd
    # to do: LA names were taken from ONS code history database but there are duplicate names since for e.g. Essex refers to the SC and the FRA
    '''
    assert to_year > from_year, 'to_year is less than from_year'
    df_lookup = pd.read_table("./bin/la_structure.tsv")
    df = (df[['ons_code']]
          .merge(df_lookup[[f'ons_code_{from_year}', f'ecode_{from_year}',f'authority_{from_year}',f'class_{from_year}',f'ons_code_{to_year}',f'ecode_{to_year}',f'authority_{to_year}',f'class_{to_year}']]
                 .drop_duplicates(),
                 left_on='ons_code',
                 right_on=f'ons_code_{from_year}',
                 how='left')
          )
    return df

In [26]:
df = pd.read_excel('./to_restructure.xlsx')
df = restructure(df, 2013, 2023)
df[df.authority_2013 == "Dorset"]

,ons_code,ons_code_2013,ecode_2013,authority_2013,class_2013,ons_code_2023,ecode_2023,authority_2023,class_2023
92,E10000009,E10000009,E1221,Dorset,SC,Abolished,Abolished,County Abolished,ABOLISHED
93,E31000012,E31000012,E6112,Dorset,FRA,E31000047,E6162,Dorset & Wiltshire,FRA

In [13]:
from_year = 2013
to_year = 2023
df_lookup
[f'ons_code_{from_year}', f'ecode_{from_year}',f'authority_{from_year}',f'class_{from_year}',f'ons_code_{to_year}',f'ecode_{to_year}',f'authority_{to_year}',f'class_{to_year}']

['ons_code_2013',
 'e_code_2013',
 'authority_2013',
 'class_2013',
 'ons_code_2023',
 'e_code_2023',
 'authority_2023',
 'class_2023']

In [16]:
    assert to_year > from_year, 'to_year is less than from_year'
    df_lookup = pd.read_table("./bin/la_structure.tsv")
    a = df_lookup[[f'ons_code_{from_year}', f'ecode_{from_year}',f'authority_{from_year}',f'class_{from_year}',f'ons_code_{to_year}',f'ecode_{to_year}',f'authority_{to_year}',f'class_{to_year}']]